footer{
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 100%;
    box-shadow: 0 0 4px $color-shadow;
    filter: saturate(150%);
    .text-center{
        background-color: $color-secondary--hover;
        float: left;
        width: 100%;
        color: #fff;
        font-weight: 300;
        a{
            color: #fff;
        }
    }
    nav.redes-sociales{
        position: absolute;
        left: 3rem;
        bottom: 0.4rem;
        a{
            color: #fff;
            font-size: 2rem;
            margin-right: 25px;
        }
    }
}    