header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(180deg, get-opacity($color-shadow, .9) 0%, get-opacity($color-shadow, .65) 50%, get-opacity($color-shadow, .2) 100%),url(../images/header2.jpg);
    @include frontal-bg-config;
    padding-top: 0.1px;

    .contenedor{
        position: relative;
        height: 100%;
        padding: 0;
        margin: 0 auto;
        padding:  4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-size: 4rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: $color-font;
            text-align: center;
            margin: 0;
        }

        .animacion{
            position: relative;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            h2{
                font-size: 31px;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                .typed{
                    .descuento{
                        font-weight: 500;
                        font-style: normal;
                        color: $color-inscribete;
                    }
                }
            }
        }

        .contenedor-chat{
            background-color: #fff;
            width: 350px;
            height: 300px;
            position: fixed;
            bottom: 110px;
            right: 40px;
            z-index: 100;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
            transition: transform .3s ease-in-out;
            transform: translate(115%);
            .contenido-chat{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                background-image: url(../images/wsp-wallpaper.jpg);
                background-size: 400px;
                background-color: #eaeaea;
                .top{
                    background-color: #eaeaea;
                    padding: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 1;
                    .close-button{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;
                        i{
                            color: #000;
                            font-size: 1.4rem;
                        }
                    }
                    img{
                        width: 45px;
                        height: 40px;
                        border: solid 1px #f1f1f1;
                        padding: 5px;
                        border-radius: 50%;
                        margin-right: 10px;
                        background-color: #fff;
                    }
                    .estado-chat{
                        display: flex;
                        flex-direction: column;
                        strong{
                            display: block;
                            line-height: 15px;
                            margin-bottom: 5px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                        }
                        span{
                            font-size: 14px;
                            line-height: 12px;
                            font-family: 'Raleway', sans-serif;
                        }
                    }
                }
                .bottom{
                    background-color: #eaeaea;
                    padding: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 1;
                    textarea{
                        appearance: none;
                        outline: none;
                        resize: none;
                        background-color: #fff;
                        border-color: #fff;
                        border-radius: 20px;
                        line-height: 10px;
                        border-style: solid;
                        border-width: 1px;
                        padding: 12px;
                        width: calc(100% - 35px);
                        box-shadow: none;
                    }
                    textarea::placeholder{
                        font-size: 18px;
                    }
                    .send-button{
                        cursor: pointer;
                        img{
                            width: 26px;
                            margin-left: 10px;
                            display: block;
                        }
                    }
                }
            }
        }
        .active{
            transform: translate(0);
        }
        /*.contenedor-img{
            width: 100%;
            height: 100%;
            .logo{
                width: 100%;
                padding: 0 28%;
                position: relative;
                -webkit-animation: none;
                animation: none;
                margin-top: 8rem;
                margin-bottom: 2rem;
                filter: saturate(200%);
            }
            img{
                width: 180px;
                -webkit-animation: floating 8s ease-in-out infinite;
                animation: floating 8s ease-in-out infinite;
                will-change: transform;
                position: absolute;
                filter: saturate(150%);
            }
            h2{
                text-align: center;
                text-transform: uppercase;
                font-family: 'Fjalla One', sans-serif;
                color: $color-inscribete;
                filter: saturate(200%);
                //text-shadow: 0 0 5px $color-shadow;
            }
            h2:hover{
                cursor: default;
            }
            .img-1{
                left: 7%;
                top: 60px;
            }
            .img-2{
                left: 77%;
                top: 50px;
            }
            .img-3{
                width: 260px;
                height: 180px;
                left: 15%;
                top: 380px;
            }
            .img-4{
                left: 65%;
                top: 380px;
            }
        }*/
    }        
}
@-webkit-keyframes floating {
    0% {
     transform:translateY(-5%) rotate(3deg);
    }
    65% {
     transform:translateY(5%) rotate(-3deg);
    }
    to {
     transform:translateY(-5%) rotate(3deg);
    }
}
@keyframes floating {
    0% {
     transform:translateY(-5%) rotate(3deg);
    }
    65% {
     transform:translateY(5%) rotate(-3deg);
    }
    to {
     transform:translateY(-5%) rotate(3deg);
    }
}