header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(180deg, get-opacity($color-shadow, .9) 0%, get-opacity($color-shadow, .65) 50%, get-opacity($color-shadow, .2) 100%),url(../images/header2.jpg);
    @include frontal-bg-config;
    padding-top: 0.1px;

    .head{
        margin: 0 auto;
        margin-top: 4rem;
        padding:  4rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-font;

        .col-md-7{
            text-align: left;
        }    
    }
    h1{
        font-size: 4.5rem;
        margin-bottom: 15px;
        font-weight: 700;
        padding-bottom: 1.5rem;
    }
    .contenedor{
        position: relative;
        height: 100%;
        padding: 0;
        .contenedor-img{
            width: 100%;
            height: 100%;
            .logo{
                width: 100%;
                padding: 0 28%;
                position: relative;
                -webkit-animation: none;
                animation: none;
                margin-top: 8rem;
                margin-bottom: 2rem;
                filter: saturate(200%);
            }
            img{
                width: 180px;
                -webkit-animation: floating 8s ease-in-out infinite;
                animation: floating 8s ease-in-out infinite;
                will-change: transform;
                position: absolute;
                filter: saturate(150%);
            }
            h2{
                text-align: center;
                text-transform: uppercase;
                font-family: 'Fjalla One', sans-serif;
                color: $color-inscribete;
                filter: saturate(200%);
                //text-shadow: 0 0 5px $color-shadow;
            }
            h2:hover{
                cursor: default;
            }
            .img-1{
                left: 7%;
                top: 60px;
            }
            .img-2{
                left: 77%;
                top: 50px;
            }
            .img-3{
                width: 260px;
                height: 180px;
                left: 15%;
                top: 380px;
            }
            .img-4{
                left: 65%;
                top: 380px;
            }
        }
    }        
}
@-webkit-keyframes floating {
    0% {
     transform:translateY(-5%) rotate(3deg);
    }
    65% {
     transform:translateY(5%) rotate(-3deg);
    }
    to {
     transform:translateY(-5%) rotate(3deg);
    }
}
@keyframes floating {
    0% {
     transform:translateY(-5%) rotate(3deg);
    }
    65% {
     transform:translateY(5%) rotate(-3deg);
    }
    to {
     transform:translateY(-5%) rotate(3deg);
    }
}