$font-stack: 'Roboto', sans-serif;
$font-size-global: 1.2rem;
$color-font: #fff;
$color-primary: #fff;
$color-navbar: rgba(6, 8, 9, 0.75);
$color-wsp: rgba(77, 194, 71, 0.95);
$color-secondary: #325d7f;
$color-secondary--hover:#1e415c;
$color-border: #fff;
$color-impact: #f7707f;
$bg-color--primary: rgba(255, 255, 255, 0.9);
$bg-color--secondary: rgba(0, 0, 0, 0.2);
$bg-color--middle: #4d4c4c;
$color-shadow: #000;
$color-shadow2: rgba(0, 0, 0, 0.4);
$color-inscribete: #FF8C03;
$color-inscribete-hover: #e88205;
$primary: #3F51B5;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$title: #FF8C03;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #1e415c;
$background-design: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237d7d7e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@mixin frontal-bg-config {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    background-position: center;
}

@function get-opacity($color, $nivel){
    @return rgba($color, $nivel);
}

body {
    background-color: #eaeaea;
    background-attachment: fixed;
    background-position: center;
    font-family: $font-stack;
    font-size: $font-size-global;
}