nav{
    background-color: $color-navbar !important;
    height: 3.8rem;
    width: 100%;
    padding: 2.5rem 6rem;
    z-index: 1 !important;
    position: sticky;
    box-shadow: 0 0 3px $color-shadow;
    .navbar-nav{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        li{
            a{
                font-size: 1.6rem;
                font-weight: 700;
                padding: 0 2rem !important;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
            }
        }  
    }      
}
.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
a{
    i{
        background-color: $color-wsp;
        border-radius: 50%;
        padding: 0.7rem 0.9rem;
        bottom: 1.5rem;
        right: 1.5rem;
        color: #fff;
        position: fixed;
        font-size: 3.5rem;
        z-index: 500;
        box-shadow: 0 0 7px $color-shadow;
    }
}