extend pug_components/template.pug
block css
    link(rel="stylesheet", href="css_components/info.css")
block contenidos
    main#main 
        include pug_components/modules.pug
        block modulos