extend pug_components/template.pug
block css
    link(rel="stylesheet", href="css_components/landing.css")
block contenidos
        main#main
            include pug_components/dynamic.pug
            include pug_components/front.pug
            block frontal
            .container-fluid.camp
                .row.row-cols-1.row-cols-md-3.g-4
                    +CampamentoActivo(0, 1)
                    +CampamentoInactivo('java')
                    +CampamentoInactivo('c')
            include pug_components/about.pug
            include pug_components/tribute.pug