span.badge.rounded-pill.bg-primary(id="nosotros") Nosotros
.container
    .row.row-cols-1.row-cols-md-1.g-4
        img(src="images/logo-edullka.png")
        p Edullka nace con la iniciativa de mostrar las habilidades que necesitan los estudiantes y apasionados por las nuevas tecnologías en el campo de aplicación. Buscamos ser los primeros en darte la posibilidad de impulsar tus habilidades y volverte un futuro profesional competitivo en el mercado.
        h3 Por estudiantes para estudiantes