span.badge.rounded-pill.bg-primary(id="nosotros") Nosotros
.container-fluid.nosotros
    .row.row-cols-1.row-cols-md-2.g-4
        .col.imagen
            img(src="images/logo-edullka.png")
        .col.info
            p Edullka nace con la iniciativa de mostrar las habilidades que necesitan los estudiantes y apasionados por las nuevas tecnologías en el campo de aplicación. Buscamos ser los primeros en darte la posibilidad de impulsar tus habilidades y volverte un futuro profesional competitivo en el mercado.
            h3 Por estudiantes para estudiantes
    h2.nuestro-equipo Nuestro Equipo
    .row.row-cols-1.row-cols-md-4.g-4.sinborde
        +AgregarIntegrante(0)
            +AgregarRedSocial('facebook', 'https://www.facebook.com/jhomar.astuyauriherencia.12/')
            +AgregarRedSocial('linkedin', 'https://www.linkedin.com/in/jhomar-astuyauri/')
            +AgregarCorreo('envelope', 'jhomar.astuyauri@ieee.org')
        +AgregarIntegrante(1)
        +AgregarIntegrante(2)
            +AgregarRedSocial('facebook', 'https://www.facebook.com/josecarlos.guerramartinez.5/')
            +AgregarRedSocial('linkedin', 'https://www.linkedin.com/in/jos%C3%A9-carlos-guerra-martinez-7903b41b2/')
            +AgregarRedSocial('instagram', 'https://www.instagram.com/jocgm09/')
            +AgregarRedSocial('github', 'https://github.com/JoCGM09')
        +AgregarIntegrante(3)
            +AgregarRedSocial('facebook', 'https://www.facebook.com/pamelacristell.villacortalandeo')
            +AgregarRedSocial('linkedin', 'https://www.linkedin.com/in/pamela-villacorta')
            +AgregarRedSocial('instagram', 'https://www.instagram.com/pamela_villacorta/')
            +AgregarRedSocial('github', 'https://github.com/PamVilla')
            +AgregarRedSocial('twitter', 'https://twitter.com/PamelaVillacor8')
    .row.row-cols-1.row-cols-md-3.g-4.sinborde
        +AgregarIntegrante(4)
            +AgregarRedSocial('facebook','https://www.facebook.com/jose.niquen.f')
            +AgregarRedSocial('linkedin', 'https://www.linkedin.com/in/jose-ñiquen')
            +AgregarRedSocial('instagram', 'https://www.instagram.com/jose.niquen/')
            +AgregarRedSocial('github', 'https://github.com/joseniquen08')
            +AgregarCorreo('envelope', 'j.armando0807@gmail.com')
        +AgregarIntegrante(5)
        +AgregarIntegrante(6)
            +AgregarRedSocial('facebook', 'https://www.facebook.com/mbaellav')
            +AgregarRedSocial('linkedin', 'https://www.linkedin.com/in/manuel-baella-vidal/')
            +AgregarRedSocial('instagram', 'https://www.instagram.com/mnu_baella/')
            +AgregarRedSocial('github', 'https://github.com/mnuxD')