.container-fluid
    .row.row-cols-1.row-cols-md-2.g-4.etiquetas
        .col.division
            .detalle
                i.fas.fa-campground
                p Enseñanza de cursos con estilo de campamento. Adaptamos esta actividad y lo llevamos a un entorno virtual.
        .col.division
            .detalle
                i.fas.fa-chalkboard-teacher
                p Cada campamento cuenta con asesores preseleccionados y capacitados para brindar una experiencia satisfactoria.
        .col.division
            .detalle
                i.fas.fa-users
                p Contamos con una metodología dinámica y grupal, con la intención de que puedan trabajar en equipo.
        .col.division
            .detalle
                i.fas.fa-laptop-code
                p Antes de finalizar cada campamento se realiza un concurso con increíbles premios.