footer.bg-light.text-center.text-lg-start
    .text-center.p-3 © 2021 Todos los derechos reservados: 
        a.text-dark(href="#") Edullka
    nav.redes-sociales
        a(href="#")
            i.fab.fa-whatsapp
        a(href="#")
            i.fas.fa-envelope
        a(href="#")
            i.fab.fa-github