footer.text-center.text-lg-start
    nav.redes-sociales
        a(href="#")
            i.fab.fa-facebook-f
        a(href="#")
            i.fas.fa-envelope
        a(href="#")
            i.fab.fa-github
    .text-center.p-3 © 2021 Todos los derechos reservados: 
        a.text-dark(href="#") Edullka