div.contenedor.head
    .row
        .col-md-7
            h1.titulo #{titulo}
            ul.copy
                each subtitulo in subtitulos
                    li=subtitulo
            +botonFrontal('Inscríbete')
            +botonFrontal('Metodología')
            .col-md-5
            span.badge.rounded-pill.bg-primary Próximos campamentos
            block frontal