span.badge.rounded-pill.bg-primary Más Información
.row.row-cols-1.row-cols-md-1.g-4
    .informacion
        +EscudoInformacion(0)
        .texto
            +InformacionCampamento(0)
    +ConoceMas(0)
    .contenedor-lenguaje
        .section-left
            .contenedor-carbon
                img(src="images/python-example1.png" alt="carbon python")
            .contenedor-descripcion
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quo ea et debitis totam est voluptatem. Iure tempore deserunt, corporis neque repellendus magnam ducimus sunt placeat molestiae recusandae perferendis magni?
        .section-right
            .contenedor-descripcion
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quo ea et debitis totam est voluptatem. Iure tempore deserunt, corporis neque repellendus magnam ducimus sunt placeat molestiae recusandae perferendis magni?
            .contenedor-carbon
                img(src="images/python-example2.png" alt="carbon python")
    h3 Temario
    section.timeline
        .container
            +ItemIzquierdaTimeline(1)
                +TemaPorSeccion('¿Qué capacidades tiene Python?')
                +TemaPorSeccion('¿En qué áreas se puede usar Python?')
                +TemaPorSeccion('¿Qué puedo crear con Python?')
            +ItemDerechaTimeline(2)
                +TemaPorSeccion('Gestor de paquetes pip install.')
                +TemaPorSeccion('Entorno virtual.')
                +TemaPorSeccion('Repositorios git hub.')
                +TemaPorSeccion('Tipos de datos (booleano, entero, flotante, listas, tuplas, diccionarios, conjuntos SET)')
            +ItemIzquierdaTimeline(3)
                +TemaPorSeccion('Entrada y salida estándar.')
                +TemaPorSeccion('Operadores, flujo de ejecución, sentencias condicionales, bucles, for y while.')
            +ItemDerechaTimeline(4)
                +TemaPorSeccion('Métodos de listas, tuplas y diccionarios.')
                +TemaPorSeccion('Introducción a las funciones.')
                +TemaPorSeccion('Manejo de errores.')
            +ItemIzquierdaTimeline(5)
                +TemaPorSeccion('POO: clases y objetos, herencia, composición.')
                +TemaPorSeccion('Módulos vs Clases.')
            +ItemDerechaTimeline(6)
                +TemaPorSeccion('Manejar ficheros de datos con CSV.')
                +TemaPorSeccion('Programación funcional (lambda, map, reviews, filter, zip)')
            +ItemIzquierdaTimeline(7)
                +TemaPorSeccion('Estructura de datos.')
                +TemaPorSeccion('Pilas, colas, listas enlazadas, árboles, binario, grafos.')
            +ItemDerechaTimeline(8)
                +TemaPorSeccion('MVC con flask.')
            +ItemIzquierdaTimeline(9)
                +TemaPorSeccion('Numpy, mathplotlib y pandas.')
            +ItemDerechaTimeline(10)
                +TemaPorSeccion('Concurso.')
block modulos