figure.text-center
    blockquote.blockquote
        p Si puedes imaginarlo, puedes programarlo
    figcaption.blockquote-footer Alejandro Taboada Sánchez,
        cite(title="Source Title") Programación ATS