@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
body {
  background-color: #eaeaea;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

nav.navbar {
  background-color: transparent !important;
  height: 3rem;
  width: 100%;
  padding: 2.6rem 6rem;
  z-index: 1 !important;
  position: fixed;
  transition: all 0.3s ease;
}
nav.navbar .navbar-brand {
  padding: 0;
}
nav.navbar .navbar-brand img {
  width: 180px;
}
nav.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: end;
  display: flex;
}
nav.navbar .navbar-nav li a {
  padding: 0.5rem 2rem 0 2rem !important;
}
nav.navbar .navbar-nav li a h3 {
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s ease;
}
nav.navbar .navbar-nav li a h3:hover {
  color: #FF8C03;
}

nav.active {
  background-color: #fff !important;
  z-index: 100 !important;
  height: 3.4rem;
  padding: 1.4rem 6rem;
  box-shadow: 0 0 4px #000;
  filter: saturate(150%);
}
nav.active img {
  width: 140px !important;
}
nav.active li a h3 {
  color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-dark .navbar-toggler {
  border-color: #fff;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  border-color: #fff;
  color: #fff;
}

.contenedor {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor button {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  position: fixed;
  z-index: 499;
}
.contenedor button i {
  background-color: rgba(77, 194, 71, 0.95);
  border-radius: 50%;
  padding: 0.6rem 0.8rem 0.7rem 0.9rem;
  bottom: 1.7rem;
  right: 1.7rem;
  color: #fff;
  position: fixed;
  font-size: 3rem;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.3s ease;
}
.contenedor button i:hover {
  transform: scale(1.1);
}
.contenedor .animacion {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.5rem;
}
.contenedor .animacion span {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 80px;
}
.contenedor .animacion span i {
  font-style: normal;
  color: #FF8C03;
}
.contenedor h2 {
  font-size: 31px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.contenedor .cuenta {
  width: 100%;
}
.contenedor .cuenta #cuenta {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
}
.contenedor .cuenta #cuenta p {
  margin: 0;
}
.contenedor .cuenta #cuenta .simply-days-section {
  margin-left: 0.6rem !important;
}
.contenedor .cuenta #cuenta .simply-section {
  margin: 0 0.3rem;
  color: #FF8C03;
}
.contenedor .contenedor-chat {
  background-color: #fff;
  width: 350px;
  height: 300px;
  position: fixed;
  bottom: 110px;
  right: 40px;
  z-index: 100;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translate(115%);
}
.contenedor .contenedor-chat .contenido-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: url(../images/wsp-wallpaper.jpg);
  background-size: 400px;
  background-color: #bbbbbb;
}
.contenedor .contenedor-chat .contenido-chat .top {
  background-color: #bbbbbb;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.contenedor .contenedor-chat .contenido-chat .top .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.contenedor .contenedor-chat .contenido-chat .top .close-button i {
  color: #000;
  font-size: 1.4rem;
}
.contenedor .contenedor-chat .contenido-chat .top img {
  width: 45px;
  height: 40px;
  border: solid 1px #f1f1f1;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
}
.contenedor .contenedor-chat .contenido-chat .top .estado-chat {
  display: flex;
  flex-direction: column;
}
.contenedor .contenedor-chat .contenido-chat .top .estado-chat strong {
  display: block;
  line-height: 15px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.contenedor .contenedor-chat .contenido-chat .top .estado-chat span {
  font-size: 14px;
  line-height: 12px;
  font-family: "Raleway", sans-serif;
}
.contenedor .contenedor-chat .contenido-chat .bottom {
  background-color: #bbbbbb;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.contenedor .contenedor-chat .contenido-chat .bottom textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  resize: none;
  background-color: #fff;
  border-color: #fff;
  border-radius: 20px;
  line-height: 20px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: calc(100% - 35px);
  box-shadow: none;
  height: 45px;
}
.contenedor .contenedor-chat .contenido-chat .bottom textarea::placeholder {
  font-size: 16px;
}
.contenedor .contenedor-chat .contenido-chat .bottom .send-button {
  cursor: pointer;
}
.contenedor .contenedor-chat .contenido-chat .bottom .send-button img {
  width: 26px;
  margin-left: 10px;
  display: block;
}
.contenedor .active {
  transform: translate(0);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

header {
  height: 2.6rem;
}
header .contenedor h1 {
  display: none;
}
header .contenedor .animacion {
  display: none;
}
header .contenedor .cuenta {
  display: none;
}

nav.navbar {
  background-color: #000 !important;
  z-index: 100 !important;
  height: 2.4rem;
  padding: 1.4rem 6rem;
  box-shadow: 0 0 4px #000;
}

main {
  padding: 0 12%;
  margin-top: 0;
}
main span.badge {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #325d7f !important;
  background-color: transparent !important;
  width: 100%;
}
main .row {
  border-top: 2px solid #FF8C03;
}
main .row .informacion {
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
main .row .informacion .contenedor-escudo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 0px 30px -5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
main .row .informacion .contenedor-escudo img {
  width: 200px;
  height: 200px;
  margin: 0;
}
main .row .informacion .texto {
  padding: 0 0 0 4rem;
  width: 60%;
  text-align: center;
}
main .row .informacion .texto .name-camp {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  width: 100%;
  color: #FF8C03;
  margin-top: 1rem;
}
main .row .informacion .texto ul {
  margin-top: 3rem;
  text-align: left;
  list-style: none;
  padding-left: 0;
}
main .row .informacion .texto ul li {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #212121;
  line-height: 26px;
  font-weight: 300;
}
main .row .informacion .texto ul li::before {
  font-family: "Fontawesome";
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  font-size: 18px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: "";
}
main .row section {
  padding: 50px 0;
}
main .row h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
main .row .contenedor-lenguaje {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}
main .row .contenedor-lenguaje .section-left {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
main .row .contenedor-lenguaje .section-left .contenedor-carbon {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
main .row .contenedor-lenguaje .section-left .contenedor-carbon img {
  width: 500px;
  padding: 0;
  margin: 0;
}
main .row .contenedor-lenguaje .section-left .contenedor-descripcion {
  width: 50%;
}
main .row .contenedor-lenguaje .section-left .contenedor-descripcion p {
  margin-right: 3rem;
  font-size: 1.3rem;
  font-weight: 300;
}
main .row .contenedor-lenguaje .section-right {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
main .row .contenedor-lenguaje .section-right .contenedor-carbon {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
main .row .contenedor-lenguaje .section-right .contenedor-carbon img {
  width: 500px;
  padding: 0;
  margin: 0;
}
main .row .contenedor-lenguaje .section-right .contenedor-descripcion {
  width: 50%;
  height: 100%;
}
main .row .contenedor-lenguaje .section-right .contenedor-descripcion p {
  margin-left: 3rem;
  font-size: 1.3rem;
  text-align: right;
  font-weight: 300;
}
main .row h3 {
  width: 100%;
  text-align: left;
  font-size: 2.2rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-left: 8px solid #FF8C03;
  margin-top: 1.5rem;
  color: #325d7f;
}
main .row .timeline {
  padding-top: 0;
  position: relative;
}
main .row .timeline::before {
  content: "";
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main .row .timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
main .row .timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
main .row .timeline-item:nth-child(even) .timeline-content div {
  display: flex;
}
main .row .timeline-item:nth-child(even) .timeline-content div .date {
  right: auto;
  left: 0;
}
main .row .timeline-item:nth-child(even) .timeline-content div::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
main .row .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
main .row .timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
main .row .timeline-content ul {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}
main .row .timeline-content h2 {
  color: #FF8C03;
  text-transform: uppercase;
  margin-top: 0.3rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 2.2rem;
}
main .row .timeline-content .derecha {
  right: 30px;
  top: 7px;
  left: auto;
  position: absolute;
}
main .row .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}
main .row .timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}
main .row a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
main .row a:hover, main .row a:active, main .row a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}
main .row .timeline-card {
  padding: 0 !important;
}
main .row .timeline-card p {
  padding: 0 20px;
}
main .row .timeline-card a {
  margin-left: 20px;
}
main .row .timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
main .row .timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
main .row .timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
main .row blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}
main .row .date {
  background: #1e415c;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  main .row .timeline::before {
    left: 50px;
  }
  main .row .timeline .timeline-img {
    left: 50px;
  }
  main .row .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  main .row .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  main .row .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

footer {
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  box-shadow: 0 0 4px #000;
  filter: saturate(150%);
}
footer .text-center {
  background-color: #1e415c;
  float: left;
  width: 100%;
  color: #fff;
  font-weight: 300;
}
footer .text-center a {
  color: #fff;
}
footer nav.redes-sociales {
  position: absolute;
  left: 3rem;
  bottom: 0.4rem;
}
footer nav.redes-sociales a {
  color: #fff;
  font-size: 2rem;
  margin-right: 25px;
}

@media only screen and (max-width: 991px) {
  header nav.navbar {
    height: 5rem;
    padding: 0 0;
    background-color: rgba(6, 8, 9, 0.9) !important;
  }
  header nav.navbar .container-fluid {
    padding: 0 0;
  }
  header nav.navbar .container-fluid .navbar-toggler-icon {
    color: #fff !important;
  }
  header nav.navbar .container-fluid .show {
    margin-top: 0.77rem;
  }
  header nav.navbar .container-fluid .navbar-nav {
    height: 14rem;
    background-color: rgba(6, 8, 9, 0.9);
    width: 100%;
    display: block;
  }
  header nav.navbar .container-fluid .navbar-nav li a h3 {
    font-size: 2.4rem;
  }

  main .row .informacion {
    padding: 0 1rem;
  }
  main .row .informacion img {
    width: 280px;
    height: 280px;
  }
  main .row .informacion .texto {
    padding: 0 0 0 3rem;
  }
  main .row .informacion .texto h2 {
    font-size: 2.3rem;
    margin-top: 1rem;
  }
  main .row .informacion .texto ul {
    margin-top: 1rem;
  }
  main .row .informacion .texto ul li {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  main .row .informacion img {
    width: 200px;
    height: 200px;
  }
  main .row .informacion .texto h2 {
    font-size: 1.8rem;
  }
  main .row .informacion .texto ul li {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  main .row .informacion .texto ul li::before {
    padding-right: 10px;
    font-size: 15px;
  }
  main .row h3 {
    margin-top: 2rem;
  }

  footer {
    display: block;
    background-color: rgba(225, 225, 225, 0.8);
  }
  footer nav.redes-sociales {
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 1rem;
    background-color: transparent !important;
  }
  footer nav.redes-sociales a {
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.6rem;
    background-color: rgba(225, 225, 225, 0.8);
  }
}
@media only screen and (max-width: 480px) {
  main span.badge {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  main .row .informacion {
    margin-top: 1.5rem;
    display: block;
  }
  main .row .informacion img {
    padding: 1.5rem;
  }
  main .row .informacion .texto {
    padding: 0 1rem;
  }
  main .row .informacion .texto h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  main .row h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  footer nav.redes-sociales a {
    padding: 0 1rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.2rem;
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  main .row .timeline-content h2 {
    margin-top: 3.2rem;
  }
  main .row .timeline-content ul {
    margin-top: 0;
  }
  main .row .timeline-content .derecha-list {
    margin-top: 4rem;
  }
}