@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
body {
  background-color: #eaeaea;
  background-attachment: fixed;
  background-position: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

nav.navbar {
  background-color: rgba(6, 8, 9, 0.75) !important;
  height: 3.2rem;
  width: 100%;
  padding: 1.6rem 6rem;
  z-index: 1 !important;
  position: sticky;
  box-shadow: 0 0 3px #000;
}
nav.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
nav.navbar .navbar-nav li a {
  padding: 0.5rem 2rem 0 2rem !important;
}
nav.navbar .navbar-nav li a h3 {
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
nav.navbar .navbar-nav li a h3:hover {
  border-bottom: 1.5px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-dark .navbar-toggler {
  border-color: #fff;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  border-color: #fff;
  color: #fff;
}

.contenedor a i {
  background-color: rgba(77, 194, 71, 0.95);
  border-radius: 50%;
  padding: 0.6rem 0.8rem 0.7rem 0.9rem;
  bottom: 1.7rem;
  right: 1.7rem;
  color: #fff;
  position: fixed;
  font-size: 3rem;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.3s ease;
}
.contenedor a i:hover {
  transform: scale(1.1);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

header .contenedor-img h1 {
  display: none;
}
header .contenedor-img h2 {
  display: none;
}
header .contenedor-img .img-1 {
  display: none;
}
header .contenedor-img .img-2 {
  display: none;
}
header .contenedor-img .img-3 {
  display: none;
}
header .contenedor-img .img-4 {
  display: none;
}

main {
  padding: 0 10%;
}
main span.badge {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #325d7f !important;
  background-color: transparent !important;
  width: 100%;
}
main .row {
  border-top: 2px solid #FF8C03;
}
main .row .informacion {
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  padding: 0 3rem;
  margin-top: 3rem;
}
main .row .informacion img {
  background-color: #fff;
  padding: 2rem !important;
  border-radius: 3rem !important;
  border: 2px solid #e1e1e1 !important;
  width: 350px;
  height: 350px;
  box-shadow: 0 0px 25px -12px rgba(0, 0, 0, 0.3) !important;
}
main .row .informacion .texto {
  padding: 0 0 0 6rem;
  width: 100%;
  height: 100%;
  text-align: center;
}
main .row .informacion .texto h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  width: 100%;
  color: #FF8C03;
  margin-top: 2rem;
}
main .row .informacion .texto ul {
  margin-top: 3rem;
  text-align: left;
  list-style: none;
  padding-left: 0;
}
main .row .informacion .texto ul li {
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #212121;
  line-height: 26px;
}
main .row .informacion .texto ul li::before {
  font-family: "Fontawesome";
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing: antialiased;
  content: "";
}
main .row section {
  padding: 50px 0;
}
main .row h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
main .row h3 {
  width: 100%;
  text-align: left;
  font-size: 2.5rem;
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-left: 8px solid #FF8C03;
  margin-top: 4rem;
  color: #325d7f;
}
main .row .timeline {
  padding-top: 0;
  position: relative;
}
main .row .timeline::before {
  content: "";
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
main .row .timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
main .row .timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
main .row .timeline-item:nth-child(even) .timeline-content div {
  display: flex;
}
main .row .timeline-item:nth-child(even) .timeline-content div .date {
  right: auto;
  left: 0;
}
main .row .timeline-item:nth-child(even) .timeline-content div::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
main .row .timeline-item::after {
  content: "";
  display: block;
  clear: both;
}
main .row .timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
main .row .timeline-content ul {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}
main .row .timeline-content h2 {
  color: #FF8C03;
  text-transform: uppercase;
  margin-top: 0.3rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 2.2rem;
}
main .row .timeline-content .derecha {
  right: 30px;
  top: 7px;
  left: auto;
  position: absolute;
}
main .row .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}
main .row .timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}
main .row a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
main .row a:hover, main .row a:active, main .row a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}
main .row .timeline-card {
  padding: 0 !important;
}
main .row .timeline-card p {
  padding: 0 20px;
}
main .row .timeline-card a {
  margin-left: 20px;
}
main .row .timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
main .row .timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
main .row .timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
main .row blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}
main .row .date {
  background: #1e415c;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  main .row .timeline::before {
    left: 50px;
  }
  main .row .timeline .timeline-img {
    left: 50px;
  }
  main .row .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  main .row .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  main .row .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

footer {
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  box-shadow: 0 0 4px #000;
}
footer .text-center {
  background-color: #000;
  float: left;
  width: 100%;
  color: #fff;
}
footer .text-center a {
  color: #fff;
}
footer nav.redes-sociales {
  position: absolute;
  left: 3rem;
  bottom: 0.2rem;
}
footer nav.redes-sociales a {
  color: #fff;
  font-size: 2.2rem;
  margin-right: 25px;
}

@media only screen and (max-width: 991px) {
  header nav.navbar {
    height: 5rem;
    padding: 0 0;
    background-color: rgba(6, 8, 9, 0.9) !important;
  }
  header nav.navbar .container-fluid {
    padding: 0 0;
  }
  header nav.navbar .container-fluid .navbar-toggler-icon {
    color: #fff !important;
  }
  header nav.navbar .container-fluid .show {
    margin-top: 0.77rem;
  }
  header nav.navbar .container-fluid .navbar-nav {
    height: 14rem;
    background-color: rgba(6, 8, 9, 0.9);
    width: 100%;
    display: block;
  }
  header nav.navbar .container-fluid .navbar-nav li a h3 {
    font-size: 2.4rem;
  }

  main .row .informacion {
    padding: 0 1rem;
  }
  main .row .informacion img {
    width: 280px;
    height: 280px;
  }
  main .row .informacion .texto {
    padding: 0 0 0 3rem;
  }
  main .row .informacion .texto h2 {
    font-size: 2.3rem;
    margin-top: 1rem;
  }
  main .row .informacion .texto ul {
    margin-top: 1rem;
  }
  main .row .informacion .texto ul li {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 768px) {
  main .row .informacion img {
    width: 200px;
    height: 200px;
  }
  main .row .informacion .texto h2 {
    font-size: 1.8rem;
  }
  main .row .informacion .texto ul li {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  main .row .informacion .texto ul li::before {
    padding-right: 10px;
    font-size: 15px;
  }
  main .row h3 {
    margin-top: 2rem;
  }

  footer {
    display: block;
    background-color: rgba(225, 225, 225, 0.8);
  }
  footer nav.redes-sociales {
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 1rem;
    background-color: transparent !important;
  }
  footer nav.redes-sociales a {
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.6rem;
    background-color: rgba(225, 225, 225, 0.8);
  }
}
@media only screen and (max-width: 480px) {
  main span.badge {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  main .row .informacion {
    margin-top: 1.5rem;
    display: block;
  }
  main .row .informacion img {
    padding: 1.5rem;
  }
  main .row .informacion .texto {
    padding: 0 1rem;
  }
  main .row .informacion .texto h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
  main .row h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  footer nav.redes-sociales a {
    padding: 0 1rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.2rem;
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  main .row .timeline-content h2 {
    margin-top: 3.2rem;
  }
  main .row .timeline-content ul {
    margin-top: 0;
  }
  main .row .timeline-content .derecha-list {
    margin-top: 4rem;
  }
}