@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
body {
  background-color: #eaeaea;
  background-attachment: fixed;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237d7d7e' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../images/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 0.1px;
}
header .head {
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
header .head .col-md-7 {
  text-align: left;
}
header h1 {
  font-size: 4.5rem;
  margin-bottom: 15px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
header .contenedor {
  /*.btn-outline-light{
      border-color: $color-border;
      border-radius: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }*/
  /*.btn-outline-light:hover{
      background-color: $color-impact;
      border-color: $color-impact;
      color: $color-border;
      transition: .4s ease;
  }*/
}
header .contenedor .copy {
  font-weight: 600;
  font-size: 1.5rem;
  list-style-type: circle;
  padding-bottom: 1.5rem;
}
header .contenedor .btn-header {
  margin-right: 2rem;
  font-size: 1.8rem;
}
header .contenedor .btn-primary {
  background-color: #325d7f;
  border-color: #325d7f;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border-radius: 1.5rem;
}
header .contenedor .btn-primary:hover {
  background-color: #1e415c;
  border-color: #1e415c;
  transition: 0.4s ease;
}

nav.navbar {
  background-color: rgba(6, 8, 9, 0.75) !important;
  height: 3.5rem;
  width: 100%;
  padding: 2rem 6rem;
  z-index: 1 !important;
  position: sticky;
  box-shadow: 0 0 3px #000;
}
nav.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
nav.navbar .navbar-nav li a {
  padding: 0.5rem 2rem 0 2rem !important;
}
nav.navbar .navbar-nav li a h3 {
  font-size: 1.6rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
nav.navbar .navbar-nav li a h3:hover {
  border-bottom: 1.5px solid #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.contenedor a i {
  background-color: rgba(77, 194, 71, 0.95);
  border-radius: 50%;
  padding: 0.6rem 0.8rem 0.7rem 0.9rem;
  bottom: 1.7rem;
  right: 1.7rem;
  color: #fff;
  position: fixed;
  font-size: 3rem;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.3s ease;
}
.contenedor a i:hover {
  transform: scale(1.1);
}

main {
  padding: 3rem;
  padding-top: 0;
  text-align: center;
}
main span.badge {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #325d7f !important;
  background-color: transparent !important;
}
main .container-fluid {
  padding: 0 6rem;
}
main .container-fluid .row {
  border-top: 2px solid #FF8C03;
  padding-top: 0.8rem;
}
main .container-fluid .row .nombre-campamento {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}
main .container-fluid .row a.btn {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
main .container-fluid .row a.btn.btn-success.btn-lg {
  background-color: #FF8C03 !important;
  border-color: #FF8C03;
}
main .container-fluid .row a.btn.btn-success.btn-lg:hover {
  background-color: #e88205 !important;
  border-color: #e88205;
}
main .container-fluid .row .col {
  padding: 0 1rem;
}
main .container-fluid .row .col .card {
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: #e2e2e2;
}
main .container-fluid .row .col .card img {
  height: 250px;
  width: 250px;
  padding: 1.5rem;
}
main .container-fluid .row .col .card img.desenfoque {
  filter: blur(7px);
}
main .container-fluid .row .col .card .card-body {
  width: 100%;
}
main .container-fluid .row .col .card .card-footer {
  width: 100%;
}
main .container-fluid .row .col .card:hover {
  border: 1px solid #FF8C03;
}
main .container-fluid .row .col .card:hover img {
  filter: saturate(130%);
}
main .container-fluid .row .col .card:hover img.desenfoque {
  filter: blur(5px);
}
main .container-fluid .row .col .card.disabled:hover {
  border: 0.5px solid #e1e1e1;
}
main .container-fluid .row p {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: justify;
  color: #000;
  padding: 0 2rem;
}
main .container-fluid .row h3 {
  color: #FF8C03;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
main .container-fluid .row img {
  width: 100%;
  padding: 1rem 5% 1rem 5%;
}

footer {
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  box-shadow: 0 0 4px #000;
}
footer .text-center {
  background-color: rgba(255, 255, 255, 0.9);
  float: left;
  width: 100%;
}
footer nav.redes-sociales {
  position: absolute;
  left: 3rem;
  bottom: 0.2rem;
}
footer nav.redes-sociales a {
  color: #000;
  font-size: 2.2rem;
  margin-right: 20px;
}

@media only screen and (max-width: 991px) {
  header nav.navbar {
    height: 5rem;
    padding: 0 0;
    background-color: rgba(6, 8, 9, 0.9) !important;
  }
  header nav.navbar .container-fluid {
    padding: 0 0;
  }
  header nav.navbar .container-fluid .navbar-toggler-icon {
    color: #fff !important;
  }
  header nav.navbar .container-fluid .show {
    margin-top: 2.47rem;
  }
  header nav.navbar .container-fluid .navbar-nav {
    height: 14rem;
    background-color: rgba(6, 8, 9, 0.9);
    width: 100%;
    display: block;
  }
  header nav.navbar .container-fluid .navbar-nav li a h3 {
    font-size: 2.4rem;
  }

  main .container-fluid {
    padding: 0 1rem;
  }
  main .container-fluid p {
    padding: 0 5rem;
  }
  main .container-fluid h3 {
    font-size: 1.8rem;
  }
  main .container-fluid .col .card img {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 768px) {
  main span.badge {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  main .container-fluid .col .card img {
    height: 180px;
    width: 180px;
  }
  main .container-fluid .col .card .card-body h2 {
    font-size: 1.4rem;
  }

  footer {
    display: block;
    background-color: rgba(225, 225, 225, 0.8);
  }
  footer nav.redes-sociales {
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 1rem;
    background-color: transparent !important;
  }
  footer nav.redes-sociales a {
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.6rem;
    background-color: rgba(225, 225, 225, 0.8);
  }
}
@media only screen and (max-width: 480px) {
  main span.badge {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  main .container-fluid .col .card img {
    height: 240px;
    width: 240px;
  }
  main .container-fluid .col .card .card-body h2 {
    font-size: 2rem;
  }
  main .container-fluid .row img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .container-fluid .row p {
    padding: 0 1rem;
  }

  footer nav.redes-sociales a {
    padding: 0 1rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.2rem;
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  main .row .timeline-content h2 {
    margin-top: 3.2rem;
  }
  main .row .timeline-content ul {
    margin-top: 0;
  }
  main .row .timeline-content .derecha-list {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 320px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main span.badge {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  main .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  main .container-fluid .col .card img {
    height: 180px;
    width: 180px;
  }
  main .container-fluid .row img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .container-fluid .row p {
    font-size: 1.1rem;
  }
  main .container-fluid .row h3 {
    font-size: 1.4rem;
  }
}