@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
body {
  background-color: #eaeaea;
  background-attachment: fixed;
  background-position: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding-top: 0.1px;
}
header .head {
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
header .head .col-md-7 {
  text-align: left;
}
header h1 {
  font-size: 4.5rem;
  margin-bottom: 15px;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
header .contenedor {
  position: relative;
  height: 100%;
  padding: 0;
}
header .contenedor .contenedor-img {
  width: 100%;
  height: 100%;
}
header .contenedor .contenedor-img img {
  width: 180px;
  animation: floating 8s ease-in-out infinite;
  will-change: transform;
  position: absolute;
}
header .contenedor .contenedor-img h1 {
  font-family: "Merienda", cursive;
  text-align: center;
  font-size: 10rem;
  margin-top: 6rem;
  margin-bottom: 15px;
  font-weight: 700;
  padding-bottom: 0;
  text-shadow: 0 0 12px #000;
  color: #325d7f;
}
header .contenedor .contenedor-img h1:hover {
  cursor: default;
}
header .contenedor .contenedor-img h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  color: #FF8C03;
  text-shadow: 0 0 5px #000;
}
header .contenedor .contenedor-img h2:hover {
  cursor: default;
}
header .contenedor .contenedor-img .img-1 {
  left: 7%;
  top: 60px;
}
header .contenedor .contenedor-img .img-2 {
  left: 77%;
  top: 50px;
}
header .contenedor .contenedor-img .img-3 {
  width: 260px;
  height: 180px;
  left: 15%;
  top: 380px;
}
header .contenedor .contenedor-img .img-4 {
  left: 65%;
  top: 380px;
}
@keyframes floating {
  0% {
    transform: translateY(-5%) rotate(3deg);
  }
  65% {
    transform: translateY(5%) rotate(-3deg);
  }
  to {
    transform: translateY(-5%) rotate(3deg);
  }
}
nav.navbar {
  background-color: rgba(6, 8, 9, 0.75) !important;
  height: 3.2rem;
  width: 100%;
  padding: 1.6rem 6rem;
  z-index: 1 !important;
  position: sticky;
  box-shadow: 0 0 3px #000;
}
nav.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
nav.navbar .navbar-nav li a {
  padding: 0.5rem 2rem 0 2rem !important;
}
nav.navbar .navbar-nav li a h3 {
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
nav.navbar .navbar-nav li a h3:hover {
  border-bottom: 1.5px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-dark .navbar-toggler {
  border-color: #fff;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  border-color: #fff;
  color: #fff;
}

.contenedor a i {
  background-color: rgba(77, 194, 71, 0.95);
  border-radius: 50%;
  padding: 0.6rem 0.8rem 0.7rem 0.9rem;
  bottom: 1.7rem;
  right: 1.7rem;
  color: #fff;
  position: fixed;
  font-size: 3rem;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  transition: all 0.3s ease;
}
.contenedor a i:hover {
  transform: scale(1.1);
}

main {
  padding: 3rem;
  padding-top: 0;
  text-align: center;
}
main span.badge {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #325d7f !important;
  background-color: transparent !important;
}
main .container-fluid {
  padding: 0 6rem;
}
main .container-fluid .nuestro-equipo {
  margin-top: 1.5rem;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 2.2rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-left: 8px solid #FF8C03;
  color: #325d7f;
}
main .container-fluid .row {
  border-top: 2px solid #FF8C03;
  padding-top: 0.8rem;
}
main .container-fluid .row .nombre-campamento {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
}
main .container-fluid .row a.btn {
  width: 100%;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
main .container-fluid .row a.btn i {
  font-size: 0.9rem;
  margin-right: 0.7rem;
}
main .container-fluid .row a.btn p {
  margin-bottom: 0;
  font-size: 1.4rem;
}
main .container-fluid .row a.btn.btn-success.btn-lg {
  background-color: #FF8C03 !important;
  border-color: #FF8C03;
}
main .container-fluid .row a.btn.btn-success.btn-lg:hover {
  background-color: #e88205 !important;
  border-color: #e88205;
}
main .container-fluid .row .col {
  padding: 0 1rem;
  /*.python{
      background-image: url(../images/python.png) !important;
      background-repeat: no-repeat;
      background-size: 290px;
      background-position:100px -60px;
  }*/
}
main .container-fluid .row .col .card {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}
main .container-fluid .row .col .card img {
  height: 250px;
  width: 250px;
  padding: 1.5rem;
  transition: all 0.6s ease;
}
main .container-fluid .row .col .card img.desenfoque {
  filter: blur(7px);
  transition: none;
}
main .container-fluid .row .col .card .card-body {
  width: 100%;
  padding: 0 1rem;
}
main .container-fluid .row .col .card .card-body .desenfoque {
  filter: blur(4px);
}
main .container-fluid .row .col .card .card-body .desenfoque:hover {
  filter: blur(3px);
}
main .container-fluid .row .col .card .card-footer {
  width: 100%;
  font-size: 1rem;
}
main .container-fluid .row .col .card:hover {
  border: 1px solid #FF8C03;
}
main .container-fluid .row .col .card:hover img {
  filter: saturate(130%);
}
main .container-fluid .row .col .card:hover img.desenfoque {
  filter: blur(5px);
}
main .container-fluid .row .col .card:hover .card-body .desenfoque {
  filter: blur(3px);
}
main .container-fluid .row .col .card:hover img {
  transform: scale(1.07);
}
main .container-fluid .row .col .card:hover img.desenfoque {
  transform: none;
}
main .container-fluid .row .col .card.disabled:hover {
  border: 0.5px solid #e1e1e1;
}
main .container-fluid .row .info {
  width: 60%;
}
main .container-fluid .row .info p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  color: #000;
  padding: 0 1rem;
}
main .container-fluid .row .info h3 {
  color: #FF8C03;
  font-size: 2.2rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
main .container-fluid .row .imagen {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40%;
}
main .container-fluid .row .imagen img {
  width: 100%;
  padding: 1rem 5% 5rem 5%;
}
main .container-fluid .sinborde {
  border-top: none;
  width: 100%;
  padding: 0 2rem;
  margin-top: 1rem;
}
main .container-fluid .sinborde .integrante {
  margin: 0;
  padding: 1rem;
}
main .container-fluid .sinborde .integrante .contenedor-foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
main .container-fluid .sinborde .integrante .contenedor-foto img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
main .container-fluid .sinborde .integrante .contenedor-foto:hover {
  transform: scale(1.04);
}
main .container-fluid .sinborde .integrante h3 {
  padding-top: 0.8rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
main .container-fluid .sinborde .integrante h3::selection {
  color: #FF8C03;
  background-color: #325d7f;
}
main .container-fluid .sinborde .integrante ul {
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main .container-fluid .sinborde .integrante ul li {
  width: 20%;
  font-size: 1.6rem;
}
main .container-fluid .sinborde .integrante ul li .btn-secondary {
  padding: 0;
  color: #0d6efd;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.6rem;
}
main .container-fluid .etiquetas {
  border: none;
  padding: 0;
  margin-top: 2.5rem;
  --bs-gutter-y: 0;
}
main .container-fluid .etiquetas .division {
  padding: 1.2rem;
  margin: 0;
}
main .container-fluid .etiquetas .division .detalle {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #325d7f;
  padding: 1.5rem;
  height: 100%;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}
main .container-fluid .etiquetas .division .detalle i {
  font-size: 3.2rem;
  margin: 0 1.5rem 0 0;
  color: #FF8C03;
}
main .container-fluid .etiquetas .division .detalle p {
  font-size: 1.15rem;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}
main .container-fluid .etiquetas .division .detalle p:hover {
  cursor: default;
}
main .container-fluid .etiquetas .division .detalle:hover {
  transform: translateY(-6px);
}
main .nosotros .row-cols-md-3 {
  padding: 0 10rem;
}
main figure {
  padding-top: 3rem;
}
main figure blockquote p {
  font-size: 2.2rem;
}
main figure .blockquote-footer {
  font-size: 1.2rem;
}

footer {
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  box-shadow: 0 0 4px #000;
}
footer .text-center {
  background-color: #000;
  float: left;
  width: 100%;
  color: #fff;
}
footer .text-center a {
  color: #fff;
}
footer nav.redes-sociales {
  position: absolute;
  left: 3rem;
  bottom: 0.2rem;
}
footer nav.redes-sociales a {
  color: #fff;
  font-size: 2.2rem;
  margin-right: 25px;
}

@media only screen and (max-width: 991px) {
  header nav.navbar {
    height: 5rem;
    padding: 0 0;
    background-color: rgba(6, 8, 9, 0.9) !important;
  }
  header nav.navbar .container-fluid {
    padding: 0 0;
  }
  header nav.navbar .container-fluid .navbar-toggler-icon {
    color: #fff !important;
  }
  header nav.navbar .container-fluid .show {
    margin-top: 1.8rem;
  }
  header nav.navbar .container-fluid .navbar-nav {
    height: 14rem;
    background-color: rgba(6, 8, 9, 0.9);
    width: 100%;
    display: block;
  }
  header nav.navbar .container-fluid .navbar-nav li a h3 {
    font-size: 2.4rem;
  }

  main .container-fluid {
    padding: 0 1rem;
  }
  main .container-fluid p {
    padding: 0 5rem;
  }
  main .container-fluid h3 {
    font-size: 1.8rem;
  }
  main .container-fluid .col .card img {
    height: 220px;
    width: 220px;
  }
}
@media only screen and (max-width: 768px) {
  main span.badge {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  main .container-fluid .col .card img {
    height: 180px;
    width: 180px;
  }
  main .container-fluid .col .card .card-body h2 {
    font-size: 1.4rem;
  }

  footer {
    display: block;
    background-color: rgba(225, 225, 225, 0.8);
  }
  footer nav.redes-sociales {
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 1rem;
    background-color: transparent !important;
  }
  footer nav.redes-sociales a {
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.6rem;
    background-color: rgba(225, 225, 225, 0.8);
  }
}
@media only screen and (max-width: 480px) {
  main span.badge {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  main .container-fluid .col .card img {
    height: 240px;
    width: 240px;
  }
  main .container-fluid .col .card .card-body h2 {
    font-size: 2rem;
  }
  main .container-fluid .row img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .container-fluid .row p {
    padding: 0 1rem;
  }

  footer nav.redes-sociales a {
    padding: 0 1rem;
    margin-right: 0;
  }
  footer .text-center {
    font-size: 1.2rem;
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  main .row .timeline-content h2 {
    margin-top: 3.2rem;
  }
  main .row .timeline-content ul {
    margin-top: 0;
  }
  main .row .timeline-content .derecha-list {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 320px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main span.badge {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  main .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  main .container-fluid .col .card img {
    height: 180px;
    width: 180px;
  }
  main .container-fluid .row img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .container-fluid .row p {
    font-size: 1.1rem;
  }
  main .container-fluid .row h3 {
    font-size: 1.4rem;
  }
}